/* Basic styling for popup */
body {
    width: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

button, input {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
    box-sizing: border-box; /* Include padding and borders in the total width */
}

.tab-item {
    display: flex;
    color: brown;
    padding: 0px;
    box-sizing: border-box; /* Include padding and borders in the total width */
}

.tab-item:hover {
    background-color: lightgray;
    opacity: 100%;
}

.checkbox {
    width: 10%;
}
