body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Disable scroll on body */
}
#iframeContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}
iframe {
    flex: 1; /* Distribute space evenly */
    border: none;
}
.iframe-divider {
    width: 6px; /* Width of the divider */
    background-color: #ccc; /* Color of the divider */
    height: 100%; /* Full height of the container */
}
